html{
    font-size: 16px;
}
@media screen and (max-width: 992px) {
    html {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 740px) {
    html {
        font-size: 10px;
      }
  }
  @media screen and (max-width: 609px) {
    html {
        font-size: 7px;
      }
  }
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: darkcyan; 
}
.navbar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    color:black;
    background-image: url(./images/currency.jpg);
    height: 10rem;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 5px 5px 5px white;
}
#date{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
}
.text{
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 1.3rem;
    background-image: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    display: flex;
    justify-content:space-evenly;
    width: 70vw;
    height:12rem;
}
.input_position{
    display: flex;
    height: 3rem;
    
}
input{
    width: 16rem;
    height:3rem;
    line-height: 3rem;
    border: 3px solid  darkcyan;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1.3rem;
}
#other{
    width: 19rem;  
    margin-left: -3rem;
}
.dropdown_position{
   display: block;
}
.btn_dropdown{
    height: 3rem;
    width: 6rem;
    background: darkcyan;
    color:white;
    border-radius: 5px;
    position: relative;
}
i{
    position:absolute;
    top:17%; 
    left:30%;
}
.dropdown_menu{
    display: none;
    height: 10rem;
    width: 6rem;
    overflow: auto;
}
.active_dropdown{
    display: block;
}
.dropdown_item{
    height: 3rem;
    line-height: 3rem;
    width: 5rem;
    border: 3px solid darkcyan;
    border-radius: 5px 0 0 5px;
    color: black;
    list-style: none;
    text-align: center;
    font-size: 1.3rem;
    border-right:none;
}
.output_position{
    display: flex;
}
.score{
    height: 2.6rem;
    line-height: 2.6rem;
    width: 12rem;
    border: 3px solid darkcyan;
    border-radius: 5px 0 0 5px;
    color: black;
    text-align: center;
    font-size: 1.3rem;
}
.score_label{
    height: 2.6rem;
    line-height: 2.6rem;
    width: 4rem;
    background: darkcyan;
    color: white;
    border: 3px solid darkcyan;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 1.3rem;
}
.label{
    height: 2.6rem;
    line-height: 2.6rem;
    width: 4rem;
    background: darkcyan;
    color: white;
    border: 3px solid darkcyan;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 1.3rem;
}
.active_currency{
    background: darkcyan;
    color: white;
}